* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 44px;
    margin-right: 0;
    margin-bottom: 144px;
    margin-left: 76px;

}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #98909c;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
}


.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}


section {
    display: inline-block;
    margin-left: 86px;
}


h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}


h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}


p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-main {
    background: #ADFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    font-weight: 700;
}




@media screen and (max-width:390px) {
    header {
        display: none;
    }

    .logo-image {
        width: 354px;
        height: 317px;
        margin-left: 125px;
        position: relative;
        top: 400px;
        right: 50px;
    }

    h1 {
        width: 263px;
        height: 52px;
        font-weight: 900;
        font-size: 50px;
        line-height: 100%;
        color: #515151;
        position: relative;
        top: 400px;
        left: 30px;

    }

    h2 {
        width: 232px;
        height: 37px;
        font-weight: 500;
        font-size: 30px;
        line-height: 25px;
        color: #515151;
        position: relative;
        top: 410px;
        left: 40px;
    }

    .paragrafo {
        display: none;
    }


    .button-main {
        width: 239px;
        height: 64px;
        background: #ADFF00;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        font-size: 28px;
        line-height: 50px;
        color: #000000;
        font-weight: 700;
        position: relative;
        top: 410px;
        left: 20px;

    }

}